.container-mywishlist {
  height: 100vh;
  /* background-image: url('../assets/flower.png') */ 
}

.title-mywishlist {
  font-size: 4vh;
  margin-left: 2vh;
  margin-top: 5vh; 
  display: flex;
  justify-content: center;
}

.add-btn-container-mywishlist {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.btn-addwish {
  background: #4382E3;
  border-radius: 3px;
  border: 0px;
  color: white;
  width: 45vh;
  height: 5vh;
  margin-bottom: 5vh;
  font-size: 2vh;
  padding: 0px 30px;
  box-shadow: 0px 3px 5px 2px #A0B1B9;
}

.table-mywishlist {
  padding: 3vh;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0px 3px 5px 2px #A0B1B9;
}

.footer-mywishlist{
  height: 10%;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #87a5d4;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.btn-back-mywishlist {
  background: #4382E3;
  border: 0px;
  color: white;
  height: 7vh;
  width: 7vh;
  margin: 10px;
}

.home-icon {
  height: 10px;
  width: 10px;
  display: flex; 
}