.container-form {
  height: 100vh;
}

.title-form {
  font-size: 4vh;
  margin-left: 2vh;
  margin-top: 5vh; 
  display: flex;
  justify-content: center;
}

.form-input-btn {
  background-color: white;
  padding: 3vh;
  border-radius: 3px;
  box-shadow: 0px 3px 5px 2px #A0B1B9;
}

.form-group {
  margin-bottom: 1rem;
  box-sizing: border-box;
}

label {
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: .5rem;
}

input {
  display: block;
  width: 90%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid lightgrey;
  border-radius: .25rem;
}

.notes {
  height: 15vh;
}

.container-btn-form {
  display: flex;
  justify-content: center;
}

.btn-form {
  background: #4382E3;
  border-radius: 3px;
  border: 0px;
  color: white;
  width: 15vh;
  height: 5vh;
  margin: 3vh;
  font-size: 2vh;
  padding: 0px 30px;
  box-shadow: 0px 3px 5px 2px #A0B1B9;
}

.footer-form{
  height: 10%;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #87a5d4;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.btn-back-form {
  background: #4382E3;
  border: 0px;
  color: white;
  height: 7vh;
  width: 7vh;
  margin: 10px;
}