.footer-details {
  height: 10%;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #87a5d4;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
}

.btn-back-friends-wishlist {
  background: #4382E3;
  border: 0px;
  color: white;
  height: 7vh;
  width: 7vh;
  margin: 10px;
}